body {
    margin: 0;
    padding: 0;
    background: #002b36;
    font-family: Arial, sans-serif;
    color: white;
    text-align: center;
}

.title {
    margin-top: 15px;
    font-size: 26px;
}

#coinsBox {
    position: fixed;
    top: 10px;
    right: 20px;
    font-size: 20px;
    background: rgba(0,0,0,0.5);
    padding: 6px 14px;
    border-radius: 10px;
}

.playerBox {
    margin: 20px auto;
    width: 92%;
    max-width: 900px;
    background: #003845;
    padding: 15px;
    border-radius: 20px;
}

.btnRow {
    margin-top: 12px;
    display: flex;
    justify-content: center;
    gap: 12px;
}

button {
    padding: 12px 25px;
    font-size: 18px;
    background: #1e90ff;
    color: white;
    border: none;
    border-radius: 10px;
}

.redBtn {
    background: #ff3b3b;
}
